body {
    background-color: rgb(72, 72, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15pt;
    box-shadow: 5px 5px 10px rgb(40, 40, 207);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}